.side-drawer {
    height: 100%;
    width: 80%;
    max-width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 200;
    background: rgb(218, 214, 245);
    box-shadow: 1px 0px 7px rgba(0,0,0, 0.5);
    transition: transform 500ms ease-out;
}
.side-drawer ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
.side-drawer li {
    margin: 0.5rem 0;
}
.side-drawer a {
    font-size: 1.2rem;
    color: rgb(138, 129, 202);
    text-decoration: none;
}
.side-drawer a:hover,
.side-drawer a:focus {
    color: rgb(202, 134, 129);
}
.side-drawer.open {
    transform: translateX(0);
}

